* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-family: "quintessential", cursive;
  font-size: 40px;
}
body > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
textarea,
button {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form {
  max-width: 800px;
  padding: 20px;
  margin-right: 20px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

input,
textarea {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 90%;
}

label {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 500;
}

button {
  display: block;
  margin: 10px auto;
  padding: 0.5rem 1rem;
  width: 100px;
  background-color: rgb(36, 68, 94);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgb(133, 16, 16);
}

body img {
  max-width: 600px;
  margin: 30px;
}

#address {
  display: grid;
  grid-template-areas:
    "title title"
    "viña reñaca";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

#address img {  
 max-width: 100%;
width: 400px;
}
  

#address h3 {
  grid-area: title;
  font-size: 24px;
  margin-bottom: 20px;
}

#address h2 {
  justify-self: start;
}

#vina {
  grid-area: viña;
}

#renaca{
  grid-area: reñaca;
}

#vina p, #renaca p {
  font-size: 18px;
  margin-bottom: 10px;
  justify-self: center;
}

@media (max-width: 823px) {
  body > div {
    flex-direction: column;
  }
  #address {
 
  grid-template-areas:
    "title title"
    "viña viña"
    "reñaca reñaca";
}
