* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

h2 {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-family: "quintessential", cursive;
  font-size: 40px;
}
body > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
textarea,
button {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form {
  flex: 1;
  padding: 20px;
}

#contact-form {
  margin: 60px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

input,
textarea {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 90%;
}

label {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 500;
}

button {
  display: block;
  padding: 1rem 4rem;
  background: radial-gradient(#06060b 0%, #10101e 10%, #8c1414 100%);
  color: antiquewhite;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 35px;
  font-size: 20px;
  text-decoration: none;
  margin: 35px auto 0 auto;
}

button:hover {
  background: radial-gradient(#8c1414 0%, #10101e 10%, #06060b 100%);
  color: red;
}

body img {
  max-width: 100%;
  height: auto;
  margin: 30px;
  flex-shrink: 1;
  border-radius: 0.5rem;
}

#address {
  display: grid;
  grid-template-areas:
    "title title"
    "viña reñaca";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

#address img {
  width: 100%;
  height: auto;
}

#address h3 {
  grid-area: title;
  font-size: 24px;
  margin-bottom: 20px;
}

#address h2 {
  justify-self: start;
}

#vina {
  grid-area: viña;
}

#renaca {
  grid-area: reñaca;
}

#vina p,
#renaca p {
  font-size: 18px;
  margin-bottom: 10px;
  justify-self: center;
}

@media (max-width: 769px) {
  body > div {
    flex-direction: column;
  }

  body img {
    max-width: 100%;
  }

  #address {
    grid-template-areas:
      "title title"
      "viña viña"
      "reñaca reñaca";
  }
}

@media (max-width: 426px) {
  #contact-form {
    margin: 10px;
  }

  #address {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "viña"
      "reñaca";
    gap: 20px;
    padding: 20px;
  }

  #address img {
    width: 100%;
    margin: 0 auto;
  }
}
