/* Stylesheet for the membership page, the main content area is a flex container in rows, 
tables in the center and photos on the sides that disapear in small screens */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  overflow-x: hidden;
}

.side {
  background-position: center;
  background-image: url(../images/fencing-mach.jpg);
  background-size: 230% 100%;
  background-repeat: no-repeat;
}

.left {
  background-position: left center;
}

.right {
  background-position: right center;
}

main h2 {
  font-family: "quintessential", cursive;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  word-spacing: 0.1rem;
}

main h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 1rem 2rem;
  border: solid rgb(5, 3, 33) 2px;
  background: radial-gradient(
    #06060b 0%,
    #10101e 40%,
    #6a1e1e 80%,
    #8c1414 100%
  );
  color: antiquewhite;
  text-align: center;
}

table caption {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #3a0f0f;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: gray;
  color: white;
}

@media (max-width: 768px) {
  body > main {
    grid-template-columns: 1fr 2fr;
  }
  .right {
    display: none;
  }
}

@media (max-width: 426px) {
  .left {
    display: none;
  }
}
