* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Header layout with 3 items in a flex container, in column. 
Shrink in smaller screens until 256px
360px change layout to row*/

header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, black, red);
  color: antiquewhite;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
  min-width: 256px;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
}

header div h1 {
  font-size: 40px;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

header div p {
  margin: 0px;
}

#logo {
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}

header nav {
  align-content: end;
}

header nav a {
  gap: 20px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  color: antiquewhite;
}

header nav a:hover {
  color: red;
}

header nav a:active {
  color: rgb(157, 37, 37);
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  border: solid grey;
}

main section {
  border: solid orange;
}

main sidebar {
  border: solid orange;
}

footer {
  border: solid grey;
}

@media (max-width: 379px) {
  header {
    justify-content: center;
  }
  header > div {
    flex-direction: column;
  }

  header nav {
    margin-top: 10px;
  }
}
