* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

/* Header layout with 3 items in a flex container, in column. 
Shrink in smaller screens until 256px
360px change layout to row*/

header,
footer {
  display: flex;
  justify-content: space-between;
  background: radial-gradient(
    #06060b 0%,
    #10101e 60%,
    #6a1e1e 80%,
    #8c1414 100%
  );
  color: antiquewhite;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

header {
  margin-bottom: 40px;
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
}

header div h1 {
  font-size: 40px;
  letter-spacing: 0.5rem;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "quintessential", cursive;
}

header div p {
  margin: 0px;
  font-size: 22px;
}

#logo {
  height: 115px;
  border-radius: 50%;
  margin: 10px;
  padding-left: 25px;
}

header nav {
  padding-right: 1rem;
  margin-bottom: 15px;
  margin-top: 100px;
}

header nav a {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 0.1rem;
}

header nav a:hover {
  color: red;
  font-size: 22px;
}

header nav a:active {
  color: rgb(157, 37, 37);
  text-decoration: underline;
}

/* Section for main information with a sidebar photo */

main {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  grid-template-areas:
    "a b"
    "c c";
  gap: 15px;
}

main section {
  padding: 30px;
  text-align: center;
}

#section1 {
  grid-area: a;
}

#section1 h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "quintessential", cursive;
}

#section1 p {
  font-size: 20px;
  margin-bottom: 20px;
}

#Get-started-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: radial-gradient(#06060b 0%, #10101e 10%, #8c1414 100%);
  color: antiquewhite;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 35px;
  font-size: 20px;
  text-decoration: none;
}

#Get-started-btn:hover {
  background: radial-gradient(#8c1414 0%, #10101e 10%, #06060b 100%);
  color: red;
}

#section2 {
  grid-area: c;
}

#section2 ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

#section2 li {
  display: flex;
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  align-items: center;
  max-height: 500px;
  max-width: 100%;
}

#section2 li h3 {
  min-height: 72px;
}

#section2 li img {
  width: 100%;
  height: 400px;
  align-items: center;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 20px;
}

#side-img {
  grid-area: b;
}

#side-img img {
  /*img contained inside container*/
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  padding: 10px;
}

footer section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  object-fit: contain;
}

footer h3 {
  font-size: 20px;
  font-family: "quintessential", cursive;
  display: inline-block;
  width: fit-content;
  align-self: center;
  margin: 0 40px;
}

footer p {
  font-size: 16px;
}

#contact-footer {
  margin: auto;
  flex-direction: column;
}

#social-media {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 25px;
}

#social-media a {
  color: antiquewhite;
  font-size: 14px;
  margin: 5px;
}

#social-media a:hover {
  color: red;
  font-size: 16px;
}

@media (max-width: 769px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
  }

  header nav {
    margin-left: auto;
    margin-top: 10px;
  }

  #section2 ul {
    flex-direction: column;
    align-items: center;
  }

  #section2 li img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  #section2 li {
    gap: 10px;
    overflow: hidden;
  }
  #section2 li h3 {
    min-height: auto;
    margin-bottom: 10px;
  }
  footer {
    padding: 15px;
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  body {
    min-width: 100%;
  }
  header {
    justify-content: center;
    flex-direction: column;
  }
  header > div {
    flex-direction: row;
    justify-content: center;
  }

  header nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  header nav a {
    display: block;
    width: 100%;
    text-align: center;
  }

  #section2 ul {
    flex-direction: column;
    align-items: center;
  }

  #section2 li img {
    width: 100%;
    max-width: 400px;
  }
  footer h3 {
    text-align: center;
  }

  footer section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #social-media {
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }
}
